@import '../../css/variables';
@import '../../css/mixins';

:host {

    @include card-scheme();
    display: none;
    height: 90%;

    
    @media only screen and ((min-width: $responsive_breakpoint_width) and (min-height: $responsive_breakpoint_height)) {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
    }
}