@import '../../css/variables';
@import '../../css/mixins';

:host {
    @include card-scheme();
    grid-area: 5 / 2 / 6 / 3;
    display: grid;
    grid-template-rows: 5vh auto;

    article{
        flex-grow: 1;
        @include flex-center();
        font-family: 'Anton', sans-serif;       
    }

    .first {
        font-size: 40px;
    }

    .last {
        font-size: 15px;
    }

    @media only screen and ((min-width: $responsive_breakpoint_width) and (min-height: $responsive_breakpoint_height)) {
        .first {
            font-size: 65px;
        }
    
        .last {
            font-size: 25px;
        }
        
    }
}