<div class="color-bars">
   <div class="level1"></div>
   <div class="level2"></div>
   <div class="level3"></div>
   <div class="level4"></div>
   <div class="level5"></div>
   <div class="level6"></div>
</div>
<div *ngIf="indexID < 0" class="text-desc">
   Naciśnij przycisk aby sprawdzić jakość powietrza w twojej okolicy
</div>
<div *ngIf="indexID >= 0" class="text-desc">
   {{ indexDescription[indexID] }}
</div>
<div class="note">Dane oraz opisy indeksów prezentowane na stronie aircheck.zbrgod.pl pochodzą z serwisu <a
      href="http://powietrze.gios.gov.pl/pjp/home" target="_blank">powietrze.gios.gov.pl</a> administrowanego przez Główny Inspektorat Ochrony Środowiska</div>
<div class="links">
   <a href="https://github.com/mofcpl/aircheck-client" target="_blank"><img class="icon"
         src="../../assets/icons/github.png"></a>
   <a href="https://www.linkedin.com/in/zbrogdom/" target="_blank"><img class="icon"
         src="../../assets/icons/linkedIn.png"></a>
</div>