@import '../../css/variables';
@import '../../css/mixins';

:host {
    @include card-scheme();
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-rows: 5vh auto;

    article{
        @include flex-center();
        font-family: 'Anton', sans-serif;
        font-size: 30px;
    }

    @media (min-width: $responsive_breakpoint) {
        grid-area: 3 / 2 / 4 / 3; 
        article {
            font-size: 38px;
        }
    }
}